body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-size: 3rem;
	color:#E2DBDB;
/*	display: flex;
	justify-content: center;
	align-self: center*/;
}

hr {
	border-color: #F05F44;
	border-width: 3px;
	max-width: 65px;
	border-radius: 300px;
}

body {
	background-image: url("header.jpg");
	background-repeat: no-repeat;
	background-position: center;
	}

.btn {
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-primary {
	background-color: #F05F44;
	border-color: #eb4b08;
}

.btn-primary:hover {
	background-color: #eb4b08;
	border-color: #F05F44;
	border-width: 4px;
	transition-duration: 1s
}

.btn-primary:active {
	background-color: #66ffff;
	border-color: #66ffff;
}

.btn-xl {
	padding: 1rem 2rem;
}

.buffer {
	height: 10rem;
}